<form action="/submit" method="post">
  <label for="submit_article_url">Your Article URL:</label>
  <input type="text" id="submit_article_url" name="submit_article_url">
  <br>

  <label for="submit_article_title">Your Article Title:</label>
  <input type="text" id="submit_article_title" name="submit_article_title">
  <br>

  <label for="submit_article_description">Your Article Description:</label>
  <input type="text" id="submit_article_description" name="submit_article_description">
  <br>
  <input type="submit">
</form>
